<?xml version="1.0" ?>
<root>
    <config>
        <configversion>00</configversion>
        <loglevel>INFO</loglevel>
        <directory>d:\mp3\podcast\Alarm</directory>
        <directoryMonth>201810</directoryMonth>
        <weekdays>
            <weekday>ponedeljak</weekday>
            <weekday>utorak</weekday>
            <weekday>sreda</weekday>
            <weekday>cetvrtak</weekday>
            <weekday>petak</weekday>
        </weekdays>
    </config>
</root>
